
.container {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "dis dis dis dis"
    "AC C divide multiply"
    "7 8 9 minus"
    "4 5 6 add"
    "1 2 3 equal"
    /* Use two boxes for the zero and equals buttons */
    "zero zero dot equal";
}

/* Adding custom width interferes with double boxes of equals and zero, maybe due to flexbox */
.padButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px, 40px;
  background-color: #677d99;
  color: rgb(221, 204, 204);
  border: 1.3px solid black;
  cursor: pointer;
  font-size: 20px;
  font-family: share tech mono,monospace;
}
.padButton:hover{
  border: 1px solid white;
  color: #ccc;
}
.dis {
  grid-area: dis;
  background-color: black;
  text-align: right;
  font-size: 20px;

}
.dis input{
  width: auto;
  color: aliceblue;
  text-align: right;
  padding: 5px 20px;
  background-color: black;
  font-family: Digital-7;
}

.total{
  padding: 5px 20px;
  color: yellow;
  font-family: Digital-7;
  font-size: 40px;
}

.zero {
  grid-area: zero;
}

.equal{
  grid-area: equal;
  background-color: rgb(92, 10, 235);
}

.power{
  background-color: red;
}

.numbers{
  background-color: rgb(54, 53, 72);

}
